body {
    margin: 0;
    text-align: center;
}

.top-container {
    position: relative;
    padding-top: 0px;
    background-image: url("https://i.pinimg.com/originals/ea/ec/0c/eaec0cf7eff86e3615c01bd34ecba7e3.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}

.name {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    top: 0;
    color: #ffffff;
    font-family: 'Sacramento', cursive;
    font-size: 120px;
}

.disc {
    position: absolute;
    left: 60%;
    top: 25%;
    font-size: 50px;
    color: #9C3B00;
    font-family: 'Permanent Marker', cursive;
}

.table_logo {
    width: auto;
    height: 20em;
}

.Android_logo,
.SparkAR_logo,
.Html_Css_logo,
.Tensorflow_logo,
.Cpp_logo,
.JAVA_logo,
.Numpy_logo,
.Pandas_logo,
.Python_logo {
    width: auto;
    height: 2em;
    position: absolute;
}

.Android_logo {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 185px;
    height: 3em;
}

.SparkAR_logo {
    left: 415px;
    bottom: 264px;
    height: 4em;
}

.Python_logo {
    left: 890px;
    bottom: 219px;
    height: 3em;
}

.my_image,
.Skill_Android,
.Skill_SparkAR,
.Skill_ML {
    width: auto;
    height: 20em;
}